{:paths ["src/main" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        mount/mount {:mvn/version "0.1.15"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        compojure/compojure {:mvn/version "1.6.2"}
        com.taoensso/sente {:mvn/version "1.16.2"}
        datascript/datascript {:mvn/version "1.1.0"}
        ring/ring {:mvn/version "1.9.2"}}
 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps {org.clojure/clojurescript {:mvn/version "1.10.844"}
                              binaryage/devtools {:mvn/version "1.0.3"}
                              thheller/shadow-cljs {:mvn/version "2.12.5"}
                              reagent/reagent {:mvn/version "1.0.0"}
                              org.clojure/tools.namespace {:mvn/version "1.1.0"}}}
           :frontend {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" ":app"]}}}
                              